/* reset CSS */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif; 
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top:16px !important;
}
.text-white{
    color: rgb(255, 255, 255) !important;
}
.text-center{
    text-align:center !important;
}
/* row */
.row{
    margin: 0 -8px;
}
.row::after{
    content: '';
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right:8px;
}
.col-third{
    width: 33.33333%;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
#nav {
    display: inline-block;
}
#header {
    background-color: black;
    height: 46px;
    line-height: 46px;
    position:fixed ;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
    overflow: hidden;
}
#nav,.subnav{
    list-style-type: none;
}
#nav >li{
    display: inline-block;
}
#nav li{
    color:rgb(255, 255, 255);
    
    position: relative;
}
#nav > li > a{
    color:rgb(255, 255, 255);
    transition: all .5s linear;
}
#nav li a{
    text-decoration: dashed;
    padding: 0px 24px;
    display: inline-block;
   
}
#nav .subnav li:hover,#nav > li:hover > a{
    color:rgb(0, 0, 0);
    background-color: rgb(177, 193, 207);
}
#nav .subnav {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow:0px 0px 10px rgb(0, 0, 0);
}
#nav li:hover .subnav{
    display: block;
}
#header .search-btn,.mobile-menu-btn{
    display: inline-block;
    position:absolute;
    right: 0px;
    color: rgb(255, 255, 255);
    width: 46px;
    padding: 0px 20px 0px 15px;
    margin-left: 50px;
    right: 0px;
}
.mobile-menu-btn:hover {
    background-color: #ffffff;
}
.mobile-menu-btn:hover .menu-icon{
    color: #000;
}
#header .search-icon,.menu-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#header .search-btn:hover{
    background-color: rgb(200, 8, 8);
    cursor: pointer;
    display: inline-block;
}
#slider {
    margin: 46px 0px;
    background: url(../img/chicago.jpg) top center / cover no-repeat;
    padding-top: 50%;
    position: relative;
}
#slider .text-content{
    position:absolute;
    bottom: 47px;
    color: aliceblue;
    width: 100%;
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    /* position:absolute;
    color: rgb(255, 255, 255);
    padding-bottom: 10px; */
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
    /* position:absolute;
    bottom: 27px;
    color: rgb(255, 255, 255); */
}
.content{
    text-align: center;
}
.content-section{
   width: 895px;
   margin:auto;
   padding: 64px 0; 
}
.content-section .section-heading {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    letter-spacing:2px ;
}
.content-section .section-sub-heading {
     text-align: center;
     margin: 25px 0px;
     font-style: italic;
     opacity: 0.6;
}
.content-section .about-content {
     text-align: justify;
     margin-bottom: 60px;
}
#content .members-list{
    margin-top: 48px;
}
#content .member-name{
    font-size: 15px;
    
}
#content .member-img{
    margin-top: 15px;
    width: 230px;
    border-radius: 5px;
}
/* tour section */
.tour-section{
    background-color: #000;
}
.tickets-list{
    background-color: white;
    margin-top: 40px; 
}
.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 10px 16px;
    border-bottom: 1px solid #ccc;
    list-style: none;
}
.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;

}

/* place */
.places-list{
    margin-top: 32px;
    padding-bottom: 48px;
}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.8;
}
.place-body{
    background-color: white;
    padding: 16px;
    font-size: 15px;
    
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
}
.place-dsc{
    margin-top: 15px;
    line-height: 1.4;
}
.place-buy-btn{
    color: #fff;
    background-color: black;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}
.place-buy-btn:hover{
    background-color: #ccc;
    color: #000;
}






.info-send{
    float: right;
    background-color: #000;
    color: aliceblue;
}
.info-send:hover{
    background-color: rgb(109, 68, 17);
    color: aliceblue;
    cursor: pointer;
}
/* model buy tickets*/
.modal{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.active{
    display: flex;
}
.modal .modal-container{
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100%-32px);
    animation:modalFaceIn ease .5s;
}
.modal .modal-header{
    background-color: darkturquoise;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}
.modal .modal-heading-icon{
    margin-right: 16px;
}
.modal-close{
    position:absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.9;
}.modal-close:hover{
    opacity: 1;
}
.modal-body{
    padding: 16px;
    

}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    border: 1px solid #000;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
#buy-tickets{
    background-color: darkturquoise;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
}
#buy-tickets:hover{
    opacity: 0.9;
}
.modal-footer{
    padding: 16px;
    text-align: right;
}
.modal-footer a{
    color: aqua;
}
/* contact form */
.contact-content{
    margin-top: 48px;
}
.contact-content .contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i{
    width: 30px;
    display: inline-block;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.contact-form .form-submit-btn{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
    cursor: pointer; 
    border: none;
}
.contact-form .form-submit-btn:hover{
    background-color: #757575;
   
}
/* map */
.map-section img{
    width: 100%;
}
/* footer */
#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .socials-list{
    font-size: 24px;

}
#footer .socials-list a{
    text-decoration: none;
    color: rgba(0,0,0,0.6);
}
#footer .socials-list a:hover{
    color: rgba(0,0,0,0.3);
}
#footer .copyright{
    margin-top: 15px;
    color: rgba(0,0,0,0.6);
}
#footer .copyright a{
    color: rgba(0,0,0,0.6);
}
#footer .copyright a:hover{
    color: rgba(0,0,0,0.3);
}
/* ipad */
@media (max-width:1023px){
    #footer .footer-contact div{
        width:80%;
    }
    .content-section{
        max-width: calc(100% - 32px);
    }
}
@media (max-width:739px){
    #slider .text-heading{
        font-size: 15px;
    }
    #slider .text-description{
        font-size: 12px;
    }
    #content .member-img{
        width: 336px;
    }
    #nav > li{
        display: block;
    }
    #header .search-btn{
        display: none;
    }
    /* #header .mobile-menu-btn{
        display: block;
    } */
}

@keyframes modalFaceIn{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }to{
        opacity: 1;
        transform: translateY(0px);
    }
}