/* reset CSS */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif; 
}
.clear{
    clear: both;
}
.text-white{
    color: rgb(255, 255, 255) !important;
}
#nav {
    display: inline-block;
}
#header {
    background-color: black;
    height: 46px;
    line-height: 46px;
    position:fixed ;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
}
#nav,.subnav{
    list-style-type: none;
}
#nav >li{
    display: inline-block;
}
#nav li{
    color:rgb(255, 255, 255);
    
    position: relative;
}
#nav > li > a{
    color:rgb(255, 255, 255);
}
#nav li a{
    text-decoration: dashed;
    padding: 0px 24px;
    display: inline-block;
   
}
#nav .subnav li:hover,#nav > li:hover > a{
    color:rgb(0, 0, 0);
    background-color: rgb(177, 193, 207);
}
#nav .subnav {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow:0px 0px 10px rgb(0, 0, 0);
}
#nav li:hover .subnav{
    display: block;
}
#header .search-btn{
    display: inline-block;
    position:absolute;
    right: 0px;
    color: rgb(255, 255, 255);
    width: 46px;
    padding: 0px 20px 0px 15px;
    margin-left: 50px;
    right: 0px;
}
#header .search-btn:hover{
    background-color: rgb(200, 8, 8);
    cursor: pointer;
    display: inline-block;
}
#slider {
    margin: 46px 0px;
    background: url(../img/chicago.jpg) top center / cover no-repeat;
    padding-top: 50%;
    position: relative;
}
#slider .text-content{
    position:absolute;
    bottom: 47px;
    color: aliceblue;
    width: 100%;
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    /* position:absolute;
    color: rgb(255, 255, 255);
    padding-bottom: 10px; */
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
    /* position:absolute;
    bottom: 27px;
    color: rgb(255, 255, 255); */
}
.content{
    text-align: center;
}
.content-section{
   width: 895px;
   margin:auto;
   padding: 64px 0; 
}
.content-section .section-heading {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    letter-spacing:2px ;
}
.content-section .section-sub-heading {
     text-align: center;
     margin: 25px 0px;
     font-style: italic;
     opacity: 0.6;
}
.content-section .about-content {
     text-align: justify;
     margin-bottom: 60px;
}
#content .members-list{
    margin-top: 48px;
}
#content .member-item{
    float: left;
    width: 33.33333%;
    text-align: center;
}
#content .member-name{
    font-size: 15px;
    
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 5px;
}
/* tour section */
.tour-section{
    background-color: #000;
}
.tickets-list{
    background-color: white;
    margin-top: 40px; 
}
.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 10px 16px;
    border-bottom: 1px solid #ccc;
    list-style: none;
}
.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;

}
/* place */
.places-list{
    margin: 0 -8px;
    margin-top: 32px;
    padding-bottom: 48px;
}
.place-item{
    float: left;
    width: 33.333333%; 
    padding: 0 8px;
}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.8;
}
.place-body{
    background-color: white;
    padding: 16px;
    font-size: 15px;
    
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
}
.place-dsc{
    margin-top: 15px;
    line-height: 1.4;
}
.place-buy-btn{
    color: #fff;
    background-color: black;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}
.place-buy-btn:hover{
    background-color: #ccc;
    color: #000;
}






.info-send{
    float: right;
    background-color: #000;
    color: aliceblue;
}
.info-send:hover{
    background-color: rgb(109, 68, 17);
    color: aliceblue;
    cursor: pointer;
}


#footer{
    width: 100%;
    height: 1200px;
}
#footer .footer-contact{
    margin-top: 80px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: 10px auto 10px auto;
    text-align: center;

}
#footer .footer-contact h2{
    letter-spacing: 3px;
    font-size: 35px;
    margin-bottom: 20px; 
    
}
#footer .footer-contact p{
    opacity: 0.5;
    font-style: italic;
}
#footer .footer-contact div{
    width: 50%;
    height: 300px;
   margin: 10px auto 10px auto;
   text-align: center;
}
#footer .footer-normal{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items:flex-start;

}
#footer .footer-contact .footer-address,.footer-customer{
    background-color: rgb(255, 255, 255) ;
    width: 600px;
    margin-top: 50px;
    padding: 10px;
    height: 200px;
}
#footer .footer-contact .footer-address i{
    color: rgb(0, 0, 0);
}
#footer .footer-contact .footer-address h3{
    padding: 6px;
}

#footer .footer-contact .footer-address{
    left: 0px;
    text-align: left;
    margin-top: 20px;
}
#footer .footer-contact .footer-customer{
    right: 0px;
    padding: 20px;
    
}
#footer .footer-contact .footer-customer input{
    
    margin: 0px 10px 4px 4px;
    padding: 7px;
}
#footer .footer-contact .footer-customer  button{
    right: 0px;
    position: relative;
    background-color: #000;
    color: rgb(255, 255, 255);
    padding: 6px;
}
#footer .footer-contact .footer-customer  button:hover{
    background-color: rgb(193, 25, 25);
}
#footer .footer-contact .footer-customer .one,.two{
    float: left;
    width: 180px;
}
#footer  .footer-contact .footer-customer .three{
    width: 374px;
}
#footer .footer-info{
   background-color: rgb(255, 255, 255);
   padding-bottom: 40px;
}
#footer .footer-map{
    background: url(../img/map.jpg) bottom center / cover no-repeat;
    /* height:1080px; */
    padding-top: 50%;
    width: 100%;
}
#footer .footer-info{
    text-align: center;
    margin: 50px;
}

/* ipad */
@media only screen and (max-width:1024px){
    #footer .footer-contact div{
        width:80%;
    }
}