/* reset CSS */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#nav {
    display: inline-block;
}
#header {
    background-color: black;
    height: 46px;
    line-height: 46px;
    position:fixed ;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
}
#nav,.subnav{
    list-style-type: none;
}
#nav >li{
    display: inline-block;
}
#nav li{
    color:aliceblue;
    
    position: relative;
}
#nav > li >a{
    color:aliceblue;
}
#nav li a{
    text-decoration: dashed;
    padding: 0px 24px;
    display: inline-block;
   
}
#nav .subnav li:hover,#nav >li:hover > a{
    color:rgb(0, 0, 0);
    background-color: rgb(177, 193, 207);
}
#nav .subnav {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow:0px 0px 10px rgb(0, 0, 0);
}
#nav li:hover .subnav{
    display: block;
}
#header .search-btn{
    display: inline-block;
    position:absolute;
    right: 0px;
    color: aliceblue;
    width: 46px;
    padding: 0px 20px 0px 15px;
    margin-left: 50px;
    right: 0px;
}
#header .search-btn:hover{
    background-color: rgb(200, 8, 8);
    cursor: pointer;
    display: inline-block;
}
#slider {
    margin-top: 46px;
    background: url(/assets/img/chicago.jpg) top center / cover no-repeat;
    padding-top: 50%;
    position: relative;
}
.text-content{
    display: flex;
    justify-content: center;
}
#slider .text-heading{
    position:absolute;
    bottom: 46px;
    color: aliceblue;
    padding-bottom: 10px;
}
#slider .text-description{
    position:absolute;
    bottom: 27px;
    color: aliceblue;
}
